<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../../public/scss/global.css">
    <link rel="stylesheet" href="./style.css">

    <!-- Font awersome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>Form utility - Secound  Option</title>
</head>
<body>
    <form action="#" class="form-section-one">
        <label class="f-s-o-label">TITLE</label>
        <div class="input-group">
            <input class="f-s-o-input"type="text" placeholder="Rush">
            <span class="f-s-o-label-input limegreen">Nome</span>
            <i class="fa-solid fa-magnifying-glass limegreen f-s-o-icon"></i>    
        </div>

        <div class="input-group">
            <input class="f-s-o-input"type="password" placeholder="Rush">
            <span class="f-s-o-label-input limegreen">Password</span>
            <i class="fa-solid fa-magnifying-glass limegreen f-s-o-icon"></i>    
        </div>
    </form>
</body>
</html>