<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../public/css/global.css">
    <link rel="stylesheet" href="../../../public/css/normalize.css">
    <link rel="stylesheet" href="./style.css">
    
    <title>Marvel</title>
</head>
<body>
    <main>
        <section class="card-personagem">
            <img src="/public/assets/images/spiderman.webp" alt="Capa" />
            <div class="info">
                <h1>Spider-Man</h1>
                <p>Peter Parker era um adolescente órfão, tímido e franzino, dedicado aos estudos e com poucos amigos além de seus tios que o criaram, o casal Ben e May Parker. Mas a vida de Peter mudou quando visitou uma exposição de ciências e foi picado por uma aranha radioativa, fruto de um experimento realizado ali. Logo, Peter descobriu que adquiriu os poderes da aranha: a capacidade de se fixar a paredes e grande força física, além de um “sentido de aranha” que o avisa sobre situações perigosas. </p>
            </div>
        </section>

        <section class="card-personagem">
            <img src="../../../public/assets/images/spiderman.webp" alt="Capa" />
            
            <div class="info">
                <h1>Spider-Man</h1>
                <p>Peter Parker era um adolescente órfão, tímido e franzino, dedicado aos estudos e com poucos amigos além de seus tios que o criaram, o casal Ben e May Parker. Mas a vida de Peter mudou quando visitou uma exposição de ciências e foi picado por uma aranha radioativa, fruto de um experimento realizado ali. Logo, Peter descobriu que adquiriu os poderes da aranha: a capacidade de se fixar a paredes e grande força física, além de um “sentido de aranha” que o avisa sobre situações perigosas. </p>
            </div>
        </section>
    </main> 
</body>
</html>